@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300&display=swap');


@keyframes header-in {
  0% {
    opacity: 0;
    transform: translate(0,24px);
  }

  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes expansion {
  0% {
	r: 20%;
  }
  100% {
	r: 50%;
  }
}

@keyframes blob {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

body {
  font-family: 'Cormorant Garamond', serif;
	font-size: 48px;
	line-height: 1.1;
  margin: 100vh 0 0 0;

	background-color: #ffffff;

	color: #333333;
}

div.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 8px;
  background-color: #000;
  z-index: 100;
  transition: background-color 0.5s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  z-index: 0;

  display: flex;
  flex-direction:  column;
  align-items: center;
  justify-content: center;
  text-align: center;
/*   animation: header-in 0.4s 1s both cubic-bezier(0.45,0.05,0.55,0.95); */
/*   animation: header-in 0.4s 1s backwards; */
}

h1 {
  color: #ffffff;
 	position: absolute;
  font-size: 12vw;
  line-height: 0.8;
  max-width: 900px;
  font-style: italic;
  text-transform: uppercase;
  animation: header-in 0.4s 1s both cubic-bezier(0.45,0.05,0.55,0.95);
}

h2 {
  font-size: 8vw;
  /* text-align: center;
  position: absolute; */
  animation: header-in 0.4s 1.5s both ;
}

h3 {
  font-size: 3vw;
	font-weight: 100;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
	display: inline-block;
}

h4 {
  font-size: 2vw;
	font-weight: 100;
  color: #ffffff;
  text-align: center;
  line-height: 2em;
  text-transform: none;
  font-weight: 300;
}

nav {
  width: 100%;
  background-color:rgba(255,255,255,0.7);
  height: 75px;
  position: sticky;
  top: 5px;
  left:0;
  align-items: center;
  z-index: 4;
}

nav ul {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0.5%;

}

nav ul li {
  display: inline-block;
  margin: 0 0 0 30px;
}

nav ul li a {
  font-family: sans-serif;
  font-size: 1.5rem;
	text-decoration: none;
	color: blue ;
}

nav ul li.active a {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
}



a {
  color: #ffffff;
  text-decoration: none;
}


header span {
  display: inline-block;
  vertical-align: middle;
/* 	animation: expansion 2s 1s infinite alternate cubic-bezier(0.79,0.14,0.15,0.86); */
}

circle {
  fill: #FEF665;
  transform: scale(1);
  transition: fill 0.5s;
/*   animation: expansion 2s 1s infinite alternate cubic-bezier(0.79,0.14,0.15,0.86); */
}

circle:hover {
  fill: #E40202;
}

img.arrow {
  position: fixed;
  bottom: 67px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: header-in 0.4s 1.5s both cubic-bezier(0.45,0.05,0.55,0.95);
}

svg.blobs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  mix-blend-mode: multiply;
  z-index: 3;
}

path {
  transform: scale(0);
  transition: transform 5s;
/*   animation: blob 10s 3s both; */
}
g.blob.in-view path {
  transform: scale(1);
}


/* g.blob-2 path {
  animation: blob 10s 4s both;
}
 */
/* path:hover{
  transform: scale(1);
} */

section {
  padding: 200px;
  position: relative;
}

figure {
  max-width: 900px;
  margin: 0 auto 0 auto;
  mix-blend-mode: difference;
}

section img {
  filter: grayscale(100%) brightness(150%) contrast(40%);
}

figcaption {
  margin: 24px 10% 0 0;
}



h2.about-text {
  position: absolute;
  font-size: 7vw;
  top: 10%;
  font-style: italic;
  text-transform: uppercase;
  margin-left: -120px;
  mix-blend-mode: darken;
}


section.object{
  padding-top:80px;
  padding-bottom:80px;
}

section.object figure{
  max-width: 500px;
}

section.object img {
  width: 40vw;
}

section img:hover {
  filter:none;
  transition: all 0.6s;
}

section.project,
section.project-2,
section.colours,
section.prima {
  padding:100px;
}

section.project figure {
  display: flex;
  justify-content: space-around;
}

section.project figure img {
  max-width: 50%;
}

section.project figcaption {
  margin:0;
  padding-left: 24px;
  line-height: 1.1;
}

figcaption.text{
  margin: 24px 5% 0 0;
}

section.project-2 {
  padding:100px;
}

#camera-denied {
    font-family: sans-serif;
    display: none;
    padding: 15% 0;
}

.container {
	width: 900px;
	margin: auto;
  position: relative;
}

.container h1.prima-facie {
  position: absolute;
  top:0;
}

#video-container {
	position: relative;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
}

video {
	width: 100%;
	transform: rotateY(180deg);
}


@media (max-width: 600px){
 .container {
    width: 90%;
}

}


/*Slider*/
#mood-detection {
  display: inline-flex;
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  line-height: 2em;
  margin:0.2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #CEEDDD;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.d-none {
  display: none !important;
}



/* info box*/
p.explainer {
  font-family: sans-serif;
  font-size: 4rem;
  -webkit-text-stroke: 1px #080808;
  -webkit-text-fill-color: transparent;
  position: absolute;

  text-shadow: 0 0 0.1em rgba(211, 211, 211, 0.5),
    0 0 0.15em rgba(211, 211, 211, 0.5), 0 0 0.2em rgba(211, 211, 211, 0.5),
    0 0 0.25em rgba(211, 211, 211, 0.5), 0 0 0.3em rgba(211, 211, 211, 0.5),
    0 0 0.3em rgba(211, 211, 211, 0.5), 0 0 0.3em rgba(211, 211, 211, 0.5);
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  padding: 50px;
  z-index: 1000;
}

p.explainer:hover {
  -webkit-text-stroke: none;
  -webkit-text-fill-color: #080808;
  transition: 0.5s;
}

div.explanation {
  width: 100%;
  /* position: fixed; */
  z-index: 1500;
  background-color: #CEEDDD;
  left: 0;
  padding: 30px;

  color: #080808;

  display: flex;
  align-items: center;
  justify-content: center;
}

p.info {
	font-family: serif;
  font-size: 1.1rem;
  line-height: 1.2;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
    background-color:#080808;
    justify-content: center;
    min-height: 30vh;
    color: #f7f7f7;
    box-shadow: 0 0 20px rgba(0,0,0,.8);
    -o-box-shadow: 0 5px 10px rgba(0,0,0,.8);
    box-shadow: 0 5px 10px rgba(0,0,0,.8);
    padding: 15px;
		margin-top: 20px;
}

footer {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
  font-family: sans-serif;
  text-align: center;
}
